.nav {
    height: 50px;
    padding: 10px;
    background: rgb(0, 0, 0);
    color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    margin: 5px 25px;
}
